{% extends "base.html" %}
{% load cart_template_tag %}
{% load static %}
{% block head %}
<title>My account - Paperbooks</title>

<head>
	<link rel="stylesheet" href="{% static 'css/master.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/ecommerce-layout.css' %}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'css/ecommerce-smallscreen.css' %}" type="text/css"
		media="only screen and (max-width: 768px)">
	<link rel="stylesheet" href="{% static 'css/ecommerce.css' %}" type="text/css" media="all">
	<script type="text/javascript" src="https://c0.wp.com/c/5.4.2/wp-includes/js/jquery/jquery.js"></script>
	<script type="text/javascript" src="https://c0.wp.com/c/5.4.2/wp-includes/js/jquery/jquery-migrate.min.js"></script>
	<link rel="canonical" href="https://paperbooks.in/my-account/">
	<link rel="stylesheet" id="odrin_fonts-css"
		href="https://fonts.googleapis.com/css?family=Muli:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic%7CCinzel+Decorative:regular,700,900%7CGentium+Basic:regular,italic,700,700italic&amp;subset=cyrillic,cyrillic-ext"
		type="text/css" media="all">
	<style type="text/css">
		body {
			font-family: Muli;
			font-style: normal;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		.fw-table .heading-row,
		.fw-package .fw-heading-row,
		.special-first-letter>p:first-of-type:first-letter,
		.special-heading-letter:first-letter,
		.ecommerce .price del,
		.ecommerce .price>span,
		.font-heading {
			font-family: Cinzel Decorative;
			font-style: normal;
		}

		label {
			font-family: Gentium Book Basic;
			font-style: normal;
		}
	</style>
</head>
{% endblock head %}
{% block content %}

<body class="ecommerce-account  ecommerce-edit-account ">
	<div style="padding-top:50px;"></div>
	<!-- cart -->
	<a class="cart-contents-box" href="/cart" title="View your shopping cart">
		<i class="fa fa-shopping-basket"></i>Cart<span id="cart-contents-count">
			({{request.user|cart_item_count}})</span>
	</a>
	<!-- end cart -->
	<div class="MAIN-CONTENT">
		<!-- page heading -->
		<div class="PageHeader container text-center">
			<div class="row">
				<div class="col-sm-12">
					<div class="SpecialHeading">
						<h1 class="special-title special-heading-letter">My account</h1>
					</div>
				</div>
			</div>
		</div>
		<!-- end page heading -->
		<div>
			<div class="container mt-100 mb-100">
				<div class="row">
					<div class="col-sm-12">
						<div class="ecommerce">
							<!-- side nav -->
							<nav class="ecommerce-MyAccount-navigation">
								<ul>
									<li class="ecommerce-MyAccount-navigation-link">
										<a href="/MyAccount">Dashboard</a>
									</li>
									<li class="ecommerce-MyAccount-navigation-link">
										<a href="/Orders">Orders</a>
									</li>
									<li class="ecommerce-MyAccount-navigation-link">
										<a href="/Address">Addresses</a>
									</li>
									<li class="ecommerce-MyAccount-navigation-link is-active">
										<a href="/AccountDetails">Account details</a>
									</li>
									<li class="ecommerce-MyAccount-navigation-link">
										<a href="/logout">Logout</a>
									</li>
								</ul>
							</nav>
							<!-- end side nav -->
							<div class="ecommerce-MyAccount-content">
								<!-- details form -->
								<form action="" method="POST">
									{% csrf_token %}
									<p class="ecommerce-form-row ecommerce-form-row--first form-row form-row-first">
										<label for="account_first_name">First name&nbsp;<span
												class="required">*</span></label>
										<input type="text" class="ecommerce-Input ecommerce-Input--text input-text"
											name="first_name" id="first_name" autocomplete="given-name" required
											value="{{user.first_name}}">
									</p>
									<p class="ecommerce-form-row ecommerce-form-row--last form-row form-row-last">
										<label for="account_last_name">Last name&nbsp;<span
												class="required">*</span></label>
										<input type="text" class="ecommerce-Input ecommerce-Input--text input-text"
											name="last_name" id="last_name" autocomplete="family-name" required
											value="{{user.last_name}}">
									</p>
									<div class="clear"></div>
									<p class="ecommerce-form-row ecommerce-form-row--wide form-row form-row-wide">
										<label for="account_email">Email address&nbsp;<span
												class="required">*</span></label>
										<input type="email" class="ecommerce-Input ecommerce-Input--email input-text"
											name="account_email" id="account_email" autocomplete="email" disabled
											value="{{user.email}}">
									</p>
									<p>
										<button type="submit" class="ecommerce-Button" name="save_account_details"
											value="Save changes">Save changes</button>
									</p>
								</form>
								<!-- end details form -->
								<!-- password change -->
								<form action="{% url 'core:change_password' %}" method="POST">
									{% csrf_token %}
									<li class="ecommerce-MyAccount-navigation-link">
										<a href="#" class="shipping-calculator-button"
											style="border-left: 0px; border-bottom: 5px solid ; margin-bottom: 30px;">Change
											Password</a>
									</li>
									<section class="shipping-calculator-form" style="display: none;">
										<fieldset>
											<p
												class="ecommerce-form-row ecommerce-form-row--wide form-row form-row-wide">
												<label for="password_current">Current password<span
														class="required">*</span></label>
												<span class="password-input">{{form.old_password}}<span
														class="show-password-input"></span></span>
											</p>
											<p
												class="ecommerce-form-row ecommerce-form-row--wide form-row form-row-wide">
												<label for="password_1">New password<span
														class="required">*</span></label>
												<span class="password-input">{{form.new_password1}}<span
														class="show-password-input"></span></span>
											</p>
											<p
												class="ecommerce-form-row ecommerce-form-row--wide form-row form-row-wide">
												<label for="password_2">Confirm new password<span
														class="required">*</span></label>
												<span class="password-input">{{form.new_password2}}<span
														class="show-password-input"></span></span>
											</p>
										</fieldset>
										<div class="clear"></div>
										<p><button type="submit" name="calc_shipping" value="1"
												class="ecommerce-Button">Update</button>
										</p>
									</section>
								</form>
								<!-- end password change -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- end MAIN-CONTENT -->
	<script type="text/javascript">
		/* <![CDATA[ */
		var wc_cart_params = { "ajax_url": "\/wordpress\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/wordpress\/?wc-ajax=%%endpoint%%", "update_shipping_method_nonce": "f8b3e89967", "apply_coupon_nonce": "851eb0b738", "remove_coupon_nonce": "574b205acc" };
/* ]]> */
	</script>
	<script type="text/javascript" src="{% static 'js/toggle.js' %}"></script>
</body>
{% endblock content %}