{% extends "base.html" %}
{% load cart_template_tag %}
{% load static %}
{% block head %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>bookshelf – PaperBooks</title>
    <link rel="stylesheet" href="{% static 'css/ecommerce-layout.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/ecommerce.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/master.css' %}" type="text/css" media="all">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Muli:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic%7CCinzel+Decorative:regular,700,900%7CGentium+Basic:regular,italic,700,700italic&amp;subset=cyrillic,cyrillic-ext"
        type="text/css" media="all">
    <style type="text/css">
        body {
            font-family: Muli;
            font-style: normal;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .fw-table .heading-row,
        .fw-package .fw-heading-row,
        .special-first-letter>p:first-of-type:first-letter,
        .special-heading-letter:first-letter,
        .ecommerce .price del,
        .ecommerce .price>span,
        .font-heading {
            font-family: Cinzel Decorative;
            font-style: normal;
        }
    </style>
</head>
{% endblock head %}
{% block content %}

<body class="ecommerce" data-gr-c-s-loaded="true">
    <!-- cart -->
    <a class="cart-contents-box" href="/cart" title="View your shopping cart">
        <i class="fa fa-shopping-basket"></i>Cart<span id="cart-contents-count">
            ({{request.user|cart_item_count}})</span>
    </a>
    <!-- end cart -->
    <div class="MAIN-CONTENT">
        <!-- pub heading -->
        {% if query %}
        <div class="ProductsHeader" style="padding-top: 50px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="SpecialHeading mb-40">
                            <h1
                                class="special-title special-heading-letter woocommerce-products-header__title page-title">
                                {{query}} </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        {% endif %}
        <!-- end pub heading -->
        <div class="container mt-60 mb-100">
            <div class="row">
                <div class="col-sm-12">
                    <!-- breadcrumb -->
                    <nav class="ecommerce-breadcrumb"><a href="/">Home</a>&nbsp;/&nbsp;bookshelf
                    </nav>
                    <!-- end breadcrumb -->
                    <div class="ecommerce-notices-wrapper"></div>
                    <div class="col-sm-12 col-md-8">
                        <!-- orderby -->
                        <form class="ecommerce-ordering" method="get" action="">
                            <select name="orderby" class="orderby" aria-label="Shop order" style="appearance: auto;"
                                onchange='this.form.submit()'>
                                <option value="id" selected="selected">Sort by ---</option>
                                <option value="-visit">Sort by popularity</option>
                                <option value="reviews">Sort by average rating</option>
                                <option value="-id">Sort by latest</option>
                                <option value="book_price">Sort by price: low to high</option>
                                <option value="-book_price">Sort by price: high to low</option>
                            </select>
                        </form>
                        <!-- end orderby -->
                        <p class="ecommerce-result-count">
                            Showing {{ books.number }} of {{ books.paginator.num_pages }} Results</p>
                        <!-- bookshelf -->
                        <ul class="products columns-3">
                            {% for book in books %}
                            <li class="product">
                                <a href="{{book.get_absolute_url}}" class="ecommerce-LoopProduct-link"
                                    title="{{book.book_nm}}">
                                    <div class="loopProduct-image-wrap">
                                        <div class="loopProduct-shadow"></div><img width="376" height="500"
                                            src="../img/{{book.book_image}}" alt="">
                                    </div>
                                    <h2 class="ecommerce-loop-product__title">{{book.book_nm|slice:":20"}}...</h2>
                                    <span class="price"><span class="ecommerce-Price-amount amount"><span
                                                class="ecommerce-Price-currencySymbol">₹</span>{{book.book_price}}</span></span>
                                </a><a href="{{book.get_add_to_cart_url}}" data-quantity="1" class="special-link"
                                    data-product_id="{{book.id}}" data-product_sku=""
                                    aria-label="Add “{{book.book_nm}}” to your cart" rel="nofollow">Add to cart</a></li>
                            {% endfor %}
                        </ul>
                        <!-- end bookshelf -->
                        <!-- pagination -->
                        <nav class="ecommerce-pagination">
                            <span class="step-links">

                                {% if books.has_previous %}
                                <a href="?page=1">← FIRST </a>|
                                <a href="?page={{ books.previous_page_number }}"> PREVIOUS </a>
                                {% endif %}

                                <span class="current mx-2 ">
                                    Page {{ books.number }} of {{ books.paginator.num_pages }}.
                                </span>

                                {% if books.has_next %}
                                <a href="?page={{ books.next_page_number }}"> NEXT </a>|
                                <a href="?page={{ books.paginator.num_pages }}"> LAST →</a>
                                {% endif %}
                            </span>
                            <!-- <ul>
                                {% if books.has_previous %}
                                <li> <a href="?page={{books.previous_page_number}}">← Previous</a> </li>
                                {% endif %}
                                {% for page_number in paginator.num_pages %}
                                {% ifequal page_number books.number %}
                                <li class="currentpage">{{page_number}}</li>
                                {% else %}
                                <li> <a href="?page={{page_number}}">{{page_number}}</a> </li>
                                {% endifequal %}
                                {% endfor %}
                                {% if books.has_next %}
                                <li> <a href="?page={{books.next_page_number}}">Next →</a></li>
                                {% endif %}
                            </ul> -->
                        </nav>
                        <!-- end pagination -->
                    </div>
                    <!-- side bar -->
                    <div
                        class="SidebarShop col-lg-3 col-lg-offset-1 col-md-4 col-md-offset-0 col-sm-12 col-sm-offset-0">
                        <div class="widget clearfix ecommerce widget_product_search">
                            <form role="search" method="get" class="ecommerce-product-search" action="">
                                <label class="screen-reader-text" for="ecommerce-product-search-field-0">Search
                                    for:</label>
                                <input type="search" class="search-field" placeholder="Search books…" value="" name="s">
                                <button type="submit" value="Search">Search</button>
                            </form>
                        </div>
                        <form action="" method="GET">
                            <!-- publication -->
                            <div class="widget clearfix ecommerce widget_product_categories">
                                <h3 class="widget-title dash-left">Publications</h3>
                                <select name="publication" style="min-width: -webkit-fill-available; appearance: auto; "
                                    onchange='this.form.submit()'>
                                    <option disabled="true" selected>Select Publication</option>
                                    <option value="Alok Publication">Alok Publication</option>
                                    <option value="BK Publication">BK Publication</option>
                                    <option value="EM Publication">EM Publication</option>
                                    <option value="Khanna Publication">Khanna Publication</option>
                                </select>
                            </div>
                            <!-- end publication -->
                            <!-- branch -->
                            <div class="widget clearfix ecommerce widget_product_categories">
                                <h3 class="widget-title dash-left">Branch</h3>
                                <select name="branch" style="min-width: -webkit-fill-available; appearance:  auto;"
                                    onchange='this.form.submit()'>
                                    <option disabled="true" selected>Select Branch</option>
                                    <option value="ALL">
                                        ALL
                                    </option>
                                    <option value="CIVIL">CIVIL
                                    </option>
                                    <option value="CSE">CSE</option>
                                    <option value="ECE">ECE</option>
                                    <option value="EE">EE</option>
                                    <option value="EEE">EEE</option>
                                    <option value="MECH">MECH</option>
                                </select>
                            </div>
                            <!-- end branch -->
                        </form>
                        <!-- price filter -->
                        <div id="ecommerce_price_filter-2" class="widget clearfix ecommerce widget_price_filter">
                            <h3 class="widget-title  dash-left">Filter by price</h3>
                            <form method="get" action="">
                                <div class="price_slider_wrapper">
                                    <div class="price_slider_amount" data-step="10">
                                        <input type="text" name="min_price" value="0" data-min="0"
                                            placeholder="Min price">
                                        <input type="text" name="max_price" value="330" data-max="330"
                                            placeholder="Max price">
                                        <button type="submit" class="button">Filter</button>
                                        <div class="price_label">
                                            Price Range: <span class="from">₹0</span> — <span class="to">₹330</span>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end price filter -->
                    </div>
                    <!-- end side bar -->
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}