{% extends "base.html" %}
{% load static %}
{% block head %}

<head>
    <title>Privacy Policy - Paperbooks</title>
    <link rel="stylesheet" href="{% static 'css/master.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="odrin_fonts-css"
        href="https://fonts.googleapis.com/css?family=Muli:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic%7CCinzel+Decorative:regular,700,900%7CGentium+Basic:regular,italic,700,700italic&amp;subset=cyrillic,cyrillic-ext"
        type="text/css" media="all">
    <style type="text/css">
        body {
            font-family: Muli;
            font-style: normal;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .fw-table .heading-row,
        .fw-package .fw-heading-row,
        .special-first-letter>p:first-of-type:first-letter,
        .special-heading-letter:first-letter,
        .ecommerce .price del,
        .ecommerce .price>span,
        .font-heading {
            font-family: Cinzel Decorative;
            font-style: normal;
        }
    </style>
</head>
{% endblock head %}
{% block content %}
<div style="padding-top:50px;"></div>
<div class="MAIN-CONTENT">
    <div class="PageHeader container text-center">
        <div class="row">
            <div class="col-sm-12">
                <div class="SpecialHeading">
                    <h1 class="special-title special-heading-letter">Privacy Policy</h1>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container mt-100 mb-100">
            <div class="row" style=" text-align:justify">
                <div class="col-sm-12">
                    <p><strong style="color: #00ccb8; font-family: Cinzel Decorative; font-size: 30px;">W</strong>e’re
                        serious about
                        safeguarding
                        your personal information. This Privacy Policy describes
                        how Paperbooks. collects uses and shares personal information of consumer users of our
                        websites located at <a href="www.paperbooks.in">www.paperbooks.in</a> (“Applications”)
                        (collectively, the “Sites”) and our online services through paperbooks.</p>
                    <div style="height:43px" aria-hidden="true"></div>
                    <h3>PARTICULARLY IMPORTANT INFORMATION</h3>
                    <p><strong>Changes to This Policy:</strong><br> We will post any modifications or changes to our
                        Privacy
                        Policy onour sites and services. We reserve the right to modify the policy at any time, so
                        we encourage youto review it frequently. The “Last Updated” legend above indicates when this
                        policy was lastchanged. If we make any material changes to the policy, we will post a notice
                        on our sites prior tothose changes taking effect.</p>
                    <div style="height:43px" aria-hidden="true"></div>
                    <h3>WHAT WE COLLECT</h3>
                    <p>There’s a range of information we need to collect about you so that we can operate our sites.
                        This information may include:<br>• <strong>Information You Give Us:</strong><br> We collect your
                        email address, password, the genres ofbooks you like to read as well as other information
                        you directly give us. If you provide it,then this information may also include your name,
                        username, country of residence, or credit card information.<br>• <strong>Information We Get
                            From Others:</strong> <br>We may get information about you from other sources. For example,
                        you can upload contacts from your email provider so that we can notify you when people you
                        know create profiles on Paperbooks.<br>
                        • <strong>Information Automatically Collected:</strong><br> We automatically log information
                        about
                        you and your device. For example, when using our sites, we log your IP address,
                        operating system type, browser type, the referring website, pages you viewed, and access
                        times. We also collect information about actions you take when using our sites, such as
                        authors you follow; books and advertisements you click; you purchase; and your reactions,
                        ratings, and reviews on books.<br>• <strong>Cookies:</strong><br> We may log information using
                        “cookies.” Cookies are small data files stored on your device by a website. We may use both
                        session cookies (which expire once you close your web browser) and persistent cookies (which
                        stay on your device until you delete them) to provide you with a more personal and
                        interactive experience on our sites. We do not currently respond to Do Not Track signals.</p>
                    <div style="height:43px" aria-hidden="true"></div>
                    <h3>WHAT WE DO WITH THIS INFORMATION</h3>
                    <p>We use the information we collect in the following ways:<br>•<strong> Service
                            Delivery:</strong><br>
                        To operate and maintain our services; to create your account, identify you as a user, and
                        customize our sites for your account, To send you administrative communications, which may
                        include administrative emails, confirmations, technical notices, updates, and security
                        alerts; to respond to your comments and questions and provide you with user support, and to
                        process payments you make via our sites.<br>• <strong>Research &amp; Development:</strong>
                        <br>To improve our services.<br>• <strong>Marketing:</strong> <br>To track and measure our
                        advertising, and
                        to send you promotional communications. Depending on your settings, these promotional
                        communications may include deals or new releases emails, alerts related to authors you
                        follow, social notifications, surveys, or other newsletters. You may opt-out of receiving
                        such information at any time: such marketing emails tell you how to “opt-out.”<br>•<strong>
                            Compliance &amp; Operations:</strong><br> To protect, investigate, and deter against
                        fraudulent, unauthorized, or illegal activity.</p>
                    <div style="height:43px" aria-hidden="true"></div>
                    <h3>COOKIES</h3>
                    <p>We use several types of cookies on our sites:<br>•<strong> Essential Cookies:</strong><br>These
                        cookies are essential to provide you with services available through our sites. For example,
                        when you sign in to our sites, we may send cookies to your device so that we can identify you
                        as a user.<br>• <strong>Functionality Cookies: </strong><br>These cookies are used to remember
                        the
                        choices you make when you use our sites, such as your country. The purpose of these cookies
                        is to provide you with a more personal experience.<br>• <strong>Analytics and Performance
                            Cookies:</strong><br> These cookies are used to collect information about traffic to our
                        sites and how users use the sites. The information is aggregated and anonymous and does not
                        identify any individual visitor. It includes the number of visitors to our sites, the pages
                        they visited, and other similar information. We use this information to help operate,
                        maintain, and improve our sites.<br>• <strong>Social Media Cookies:</strong><br> These cookies
                        are
                        used when you share information using a social media sharing button on our sites or engage
                        with our content on or through a social network such as Facebook or Twitter. The social
                        network will record that you have done this.</p>
                    <p>You can typically remove and reject cookies from our sites with your browser settings. </p>
                    <p>For step-by-step instructions, please check your browser’s help section. Here are links for
                        popular browsers: <a href="https://support.google.com/chrome/answer/95647">Chrome</a>, <a
                            href="https://support.mozilla.org/en-US/products/firefox/protect-your-privacy/cookies">Firefox</a>,
                        and <a
                            href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies">Internet
                            Explorer</a>. If you remove or reject our cookies, it could affect how our sites work for
                        you.</p>
                    <div style="height:43px" aria-hidden="true"></div>
                    <h3>GOOGLE ANALYTICS</h3>
                    <p>We use Google Analytics, a service that collects information anonymously and reports
                        website trends without identifying individual visitors. Google Analytics uses its own cookie
                        to track visitor interactions. To learn more about the information collected by Google
                        Analytics.</p>
                    <div style="height:43px" aria-hidden="true"></div>
                    <h3>INFORMATION CHOICES AND CHANGES</h3>
                    <p><strong>Opt-out:</strong><br> You can contact us any time to opt-out of (a) promotional
                        communications, (b) any new processing of your personal information that we may carry out
                        beyond the original purpose, or (c) the transfer of your personal information outside the
                        EEA. Please note that your use of some of the sites or services may be ineffective upon
                        opt-out.<br><strong>Access:</strong><br> You can access the information we hold about you at any
                        time by viewing your accounton our sites or by contacting us
                        directly.<br><strong>Amend:</strong><br> You can also contact us to update or correct any
                        inaccuracies in your personal information.<br><strong>Move:</strong><br> Your personal
                        information is portable — i.e. you have the flexibility to move your data to other service
                        providers as you wish.<br><strong>Erase and Forget:</strong><br> In certain situations, for
                        example
                        when the information we hold about you is no longer relevant or is incorrect, you can request
                        that we erase your data. You may have an account on paperbooks If you wish to exercise any
                        of these rights, please contact us. In your request, please make clear (a) what personal
                        information is concerned, and (b) which of the above rights you would like to enforce. For
                        your protection, we may only implement requests with respect to the personal information
                        associated with the particular email address that you use to send us your request, and we may
                        need to verify your identity before implementing your request. We will try to comply
                        with your request as soon as reasonably practicable. When you receive promotional emails
                        from us, you can also unsubscribe or opt-out by clicking the link at the bottom of any of the
                        emails. You can’t opt-out of receiving administrative communications. In order to use our
                        sites, you need to provide us with your email address. If you cannot provide us with your
                        email address, you cannot use our sites.</p>
                    <div style="height:43px" aria-hidden="true"></div>
                    <h3>DATA RETENTION</h3>
                    <p>We retain personal information for as long as necessary to fulfill the purposes for which
                        we collected it. These purposes may include satisfying any legal, accounting, or
                        reporting requirements; establishing or defending legal claims; or fraud prevention. To
                        determine the appropriate retention period for personal information, we consider the
                        amount, nature, and sensitivity of the personal information; the potential risk of harm from
                        unauthorized use or disclosure of your personal information; the purposes for which we
                        process your personal information and whether we can achieve those purposes through other
                        means; and the applicable legal requirements. When we no longer require the personal
                        information we have collected about you, we will either delete or anonymize it or, if this is
                        not possible (for example, because your personal information has been stored in backup
                        archives), then we will securely store your personal information and isolate it from any
                        further processing until deletion is possible. If we anonymize your personal information (so
                        that it can no longer be associated with you), we may use this information indefinitely
                        without further notice to you.</p>
                    <div style="height:43px" aria-hidden="true"></div>
                    <h3>SENSITIVE PERSONAL INFORMATION</h3>
                    <p>Subject to the next paragraph, we ask that you not send us, and you do not disclose, any
                        sensitive personal information (e.g., social security numbers, information related to racial
                        or ethnic origin, political opinions, religion or other beliefs, health, biometrics or
                        genetic characteristics, criminal background or trade union membership) on or through our
                        sites or otherwise to us. If you send or disclose any sensitive personal information to us
                        when you submit user-generated content to Paperbooks, you consent to our processing and use
                        of such sensitive personal information in accordance with this Privacy Policy. If you do not
                        consent to our processing and use of such sensitive personal information, you must not submit
                        such user-generated content to Paperbooks</p>
                    <div style="height:43px" aria-hidden="true"></div>
                    <h3>USER TESTIMONIALS AND FEEDBACK</h3>
                    <p>We often receive testimonials and comments from users who have had positive experiences
                        with our services, and we occasionally publish them. We obtain the user’s consent prior to
                        posting any feedback on a public area of our sites.</p>
                    <div style="height:43px" aria-hidden="true"></div>
                    <h3>CONTACT INFORMATION</h3>
                    <p>Thanks for using our sites, and for reviewing our Privacy Policy. We welcome your comments
                        or questions about this Privacy Policy. If you have any feedback, we encourage you to contact
                        us Paperbooks.in</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}